body {
    font-family: monospace;
    background-color: black;
    color: green;
}

header {
    margin: 0 auto;
    width: 90%;
    text-align: left;
}

header img {
    width: 40%;
    min-width: 300px;
}

main {
    margin: 0 auto;
    width: 90%;
}

h1, h2 {
    font-size: max(30px, 3vw);
}

h2 {
    text-align: center;
}

p {
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
}

th, td {
    padding: 20px;
}

th {
    font-size: 20px;
}

.author {
    font-style: italic;
}

#fcc-link {
    color: green;
}

#fcc-link:hover {
    color: lightgreen;
}

#project-cards {
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#project-cards a {
    border: 3px green solid;
    padding: 4px;
    margin: 6px;
    width: 300px;
    color: green;
    border-radius: 15px;
    text-align: center;
}

#projects a:hover {
    background-color: green;
    color: black;
}

#github-link {
    font-size: large;
    width: 200px;
    display: flex;
    border: 3px green solid;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
    color: green;
}

i {
    padding-right: 5px;
}

#github-link:hover {
    background-color: green;
    color: black;
}

#stat {
    display: block;
    text-align: center;
}

#stat img {
    display: inline-block;
}

footer {
    margin-top: 20px;
}

.github-stat {
    width: 400px;
}