body {
    font-family: monospace;
    background-color: black;
    color: green;
}

header {
    text-align: center;
}

header img {
    width: 40%;
    min-width: 300px;
}

main {
    margin: 0 auto;
    width: 90%;
}

article {
    height: 75vh;
}

section {
    display: block;
    margin: auto 0;
}

h1, h2 {
    font-size: max(30px, 3vw);
}

p{
    font-size: 25px;
}

#about p{
    margin-left: 50px;
}

@media all and (max-width: 450px) {
    #about section p{
        margin-left: 0px;
    }

    p {
        font-size: 20px;
    }
}