:root {
    --color1:#15161a;
    --color2: #02d663;
}

body {
    font-family: monospace;
    background-color: var(--color1);
    color: var(--color2);
}
article {
    margin-top: 20vh;
}

header {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    position:fixed;
    top: 0;
    background-color: var(--color1);
    display: flex;
}

header img {
    width: 8vw;
    min-width: 100px;
}

header span {
    font-size: 100px;
}

main {
    margin: 0 auto;
    width: 90%;
}

h1, h2 {
    font-size: max(30px, 3vw);
}

h2 {
    text-align: center;
}

p {
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: var(--color2);
}

#learning section img {
    display: block;
    margin: auto;
}

#fcc-link {
    color: green;
}

#fcc-link:hover {
    color: lightgreen;
}

#project-cards {
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#project-cards a {
    border: 3px var(--color2) solid;
    padding: 4px;
    margin: 6px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}

#projects a:hover {
    background-color: var(--color2);;
    color: var(--color1);
}

#github-link {
    font-size: large;
    width: 200px;
    display: flex;
    border: 3px var(--color2) solid;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
    color: var(--color2);
}

i {
    padding-right: 5px;
}

#github-link:hover {
    background-color: var(--color2);
    color: var(--color1);
}

#stat {
    display: block;
    text-align: center;
}

#stat img {
    display: inline-block;
}

footer {
    margin-top: 20px;
}

.github-stat {
    width: 300px;
}